<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>nosotros</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur nobis aut minima sunt possimus temporibus porro ut nisi cumque. Magnam cum corrupti ipsum eum, earum fugiat nobis dignissimos tempora a?</p>
    <img src="/moto.jpg" alt="">
</body>
</html>